body {
    background-color: #5C97BF;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

label {
    font-weight: bold;
}

h1 {
    font-family: 'Baloo Chettan', cursive;
}

input[type="dropdown"]::placeholder { /* Firefox, Chrome, Opera */ 
    color: red; 
} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: red; 
} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: red; 
} 

.top {
    margin-top: 40px;
}

.jumbotron {
    border-radius: 10px;
    box-shadow: 10px 10px;
}

.form-control {
    height: 40px;
}

.chosen-select {
    font-weight: normal;
}

#match-name {
    margin-top: 10px;
    text-align: center;
}

#match-img {
    margin: auto;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
}

img {
    width: 100%;
}

option {
    font-weight: bold;
    color: black;
}

select {
    padding-left: 10px;
    height: 40px;
    width: 240px;
}

.btn-block {
    height: 60px;
    border: none;
    height: 60px;  
}

a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  a:active {
    text-decoration: none;
  }